/* MAIN PAGE */
*{
    font-family:Roboto,Arial;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    margin: 0px;
    padding: 10px;
}
body{
    gap: 10px;
}
#Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: auto;
}
.alignlogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#Logo2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: auto;
    
}
#Navlist{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #fafafa;
    padding: 3px 3px 3px 3px;
}
.Menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
h1{
    /* width: 100%; */
    padding-left: 0px;
    margin: 18px;
}
.Menu p{
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    margin: 0px;
}
#Button{
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    border: none;
    border-radius: 32px;
    width: 90%;
    height: 60px;
    font-size: 23px;
    transition: 0.2s ease-in-out;
    font-size: 17px;
    color: #f6f6f6;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
}
#Button:hover{
    transform: scale(1.02);
    transition-duration: 500ms;
    transition-delay: 300ms;
    opacity: 90%;
    box-shadow: 0px 0px 60px #0000002e;
}

.dot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}
.destination{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #f3f3f3;
    border: 0px;
    border-radius: 32px;
    /* width: 100%; */
    height: 48px;
    color: #000000;
    font-weight: bold;
    
}
.location{
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px;
    border: 0px solid black;
}
/* .align_menu_loby{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
} */
.un{
    /* border: 1px solid black; */
    font-size: 12px;
    color: white;
    border-radius: 50%;
    background-color:#9356DC ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 4px;
    left: -6px;
    position: relative;
}
.bouton{
    width: 90%;
    height: 60px;
    border-radius: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    background-color: #f6f6f6;
    /* position: relative; */
    /* padding-left: 10px; */
}

.but{
    display: flex;
    align-items: center;
    width: 100%;
}
.bouton:hover {
    background-color: rgba(147, 86, 220, 0.1);
    transition-delay: .2s;
    transition-duration: 900ms;
}
.bouton:hover > .filtre{
    color:#9356DC
}

#MainCard{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px ;
    padding-bottom: 50px;
    padding-left: 20px;
}
.CardsM{
    width: 90%;
    height: auto;
    border-radius: 32px;
    box-shadow: 0px 0px 16px #0000002e;
    position: relative;
}

a{
    text-decoration: black;
    color: black;
}
.Restaurant{
    background-color: #fafafa;
}
.align1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}
.align2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}
.new{
    color: green;
    background-color: #99E2D0;
    border-radius: 2px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.IMGCard{
    width: 100%;
    max-height: 232px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
    display: inline-block;
}
.alignhearth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
}
.logoend{
    width: 100px;
    height: 40px;
}
#terms{
    border: 1px solid rgb(67, 67, 67);
    color: white;
    background-color: rgb(58, 57, 57);
    padding: 20px;

}
#terms p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.alignfork{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.alignhand{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.logoend{
    font-family: Shrikhand;
}
.mail a{
    color: white;
}

/* PAGE DES MENUS */
 .Backgroundimg{
    position:relative;
    width: 100%;
    height: 280px;
}
#Menuboard{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #F5F5F5;
    position: relative;
    top: -25px;
    background-color: white;

}
#aligntitre{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.alignentrée{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    animation: itemAppear 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  
}
.alignentrée2{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    animation: itemAppear 1.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.alignentrée3{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 20px;
    animation: itemAppear 1.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.style_title{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sty2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sty2 h1{
   font-family:Shrikhand;
}
h2{
    width: 33%;
    max-width: 10%;
    border-bottom: 4px solid #99E2D0;
}
.cardmenu {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px lightgrey;
    width: 95%;
    height: 75px;
    min-height: 75px;
    background-color: white;
    color: black;
    border-radius: 22px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.cardmenu p{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
/* Animation check */
.cardmenu:hover .aligntextecard {

    animation: slidein-content .5s linear forwards;
}

.cardmenu:hover .animespace {

    animation: slidein-check .5s linear forwards;
    
}
@keyframes slidein-content {

    from { width: 100%; }
    to { width: 80%; }
}

@keyframes slidein-check {

    from { transform: translate(80px, 0px); }
    to { width: 20%; transform: translate(0px, 0px); }
}
/* Fin */
.aligntextecard {

    width: 100%;
    height: 100%;
    padding: 15px;
    /* background-color: lightcoral; */
}

.animespace {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    transform: translate(80px);
    width: 0%;
    height: 100%;
    background-color: #99E2D0;
    /* animation: slideout 1s linear; */
}

.title h4 {

    margin: 0;
    padding: 0;
}



/* .cardentrée{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    min-height: 80px;
    border-radius: 22px;

    height: auto;
    box-shadow: 0px 0px 16px #0000002e;
    padding: 0px;
    
    animation: itemAppear 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    
    transform: scale(0);
    max-width: 100%;
    
    
} */
p{
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Animation menu appararition */
@keyframes itemAppear{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
/* Fin  */
/* .animespace{
    display: none;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 0%;
    max-width: 35%;
    min-height: 100%;
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    color: #f3f3f3;
    animation:  slide 1.5s 1.5s linear;
} */
    

/* @keyframes slide {
    0%{
        width: 0%;
    }
    25%{
        width: 17%;
    }
    50%{
        width: 35%;
    }
    75%{
        width: 17%;
    }
    100%{
        width: 35%;
    }
} */
/* .cardentrée:hover >.animespace{
    display: flex;
    
} */
/* .animespace:hover{
    display: flex;
    transition-delay: 1s;
} */
.circle{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    /* animation: rotate-center 1.5s 1.5s ease-in-out both; */
    /* animation-iteration-count:inherit; */
    color: white;
}


h3{
    width: 50%;
    margin: 0px;
}
h4{
     width: 100%;
     margin: 3px;
}
.alignprice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alignplats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px; 
}
.cardplats{
    width: 95%;
    height: 40px;
    border-radius: 22px;
    height: auto;
    box-shadow: 0px 0px 16px #0000002e;
    padding: 10px;
}
.aligndesserts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px; 
}
.carddesserts{
    width: 95%;
    height: 40px;
    border-radius: 22px;
    height: auto;
    box-shadow: 0px 0px 16px #0000002e;
    padding: 10px;
}
#order{
    width: 100%;
    justify-content: center;
    align-content: center;
    border: none;
    background-color: #f3f3f3;
}
.but2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 32px;
    height: 50px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
    color: #f6f6f6;
    width: 95%;
}
/* ANIMATION */
/* LOADER */
.loader{
    position:fixed;
    inset:0;
    display:flex;
    justify-content: center;
    align-items:center;
    background: rgba(0,0,0,0.3);
    animation:  fadeout 0.5s 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 9999;
  }
  .loader:after{
    content:'';
    width:100px;
    height: 100px;
    background: transparent;
    transform: rotate(0);
    animation: rotate infinite 2s linear ;
    border-radius:50%;
    border:10px solid green;
    border-color:  #99E2D0 #9356dc #FF79DA ;
  }
 
  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  @keyframes fadeout {
    from {opacity:1;}
    to {opacity:0;visibility:hidden;}
  }
  /* FIN LOADER */

/* Animation du coeur */
.hearts {
    position: relative;
    border-radius: 50%;
    width: auto;
  }
  
  .hearts:hover > .heart-1 {
    opacity: 0;
    font-weight: 600;
    transition-delay: 2000ms;
    animation-duration: 3s;
    cursor: pointer;
  }
  
  .hearts:hover > .heart-2 {
    -webkit-animation: fill 600ms ease-out forwards;
            animation: fill 600ms ease-out forwards; 
            cursor: pointer;
  }
  
  .heart-1 {
    position: absolute;
    color: #000000;
    font-size: 1.3rem;
    display: block;
    background: -webkit-linear-gradient(238deg, black 0%, black 39%, black 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  
  .heart-2 {
    font-size: 1.3rem;
    background: -webkit-linear-gradient(238deg, #9b59dc 0%, #a77fd8 39%, #ff79da 85%);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
  
  @-webkit-keyframes fill {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      font-weight: 700;
      
      
    }
  }
  
  @keyframes fill {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      font-weight: 700;
      
    }
  }
/* FIN ANIMATIONS COEUR */
/* Animation menu  */
/* animation du cercle check */

.circle:hover{
    display: flex;
}
.cardmenu:hover  .circle{
    -webkit-animation: rotate-center 0.8s ease-in-out ;
    animation: rotate-center 0.8s ease-in-out ;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
/* MEDIA  */
@media screen and (min-width: 768px){
    #Navlist{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 9px;
    }
    #Button{
        width: 20%;
    }
    .bouton{
        width: 32%;
    }
    #Navlist h1{
        width: 100%;
    }
    #MainCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 2.5px;
        gap: 20px;
        margin-bottom: 10px;
    }
    .Backgroundimg{
        height: 420px;
    }
    .IMGCard{
        max-height: 220px;
    }
    .CardsM{
        width: 48%;
        max-width: 750px;
        min-height: 180px;
    }
    .Menu h1{
        align-items: center;
    }
    .align1{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        justify-content: center;
    }
    .align2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
    
    h2{
        width: 33%;
        max-width: 5%;
        border-bottom: 4px solid #99E2D0;
    }
}