header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: auto;
}
.alignlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#Logo2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: auto;
    
}
#Navlist{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#Button{
    background: linear-gradient(0deg,#9356dc,#FF79DA);
    border: none;
    border-radius: 32px;
    width: 80%;
    height: 90px;
    font-size: 23px;
}
.dot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}
.destination{
    padding: 10px;
    color: aliceblue;
    background-color: #c0bfc1;
    border: none;
    border-radius: 32px;
    width: 100%;
    height: 48px;
}
.location{
    width: 100%;
    background-color: #c0bfc1;
    display: flex;
    align-items: center;
}
.un{
    border: 1px solid black;
    border-radius: 40%;
    background-color: #9356dc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 4px;
}
.bouton{
    width: 428px;
    height: 48px;
    border: 1px solid;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background-color: #f9f9f9;
    gap: 5px;

}
#MainCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px ;
}
.CardsM{
    width: 90%;
    height: auto;
    border-radius: 32px;
    border: 1px solid black;
}
.IMGCard{
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
}
.alignhearth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logoend{
    width: 100px;
    height: 40px;
}
#terms{
    border: 1px solid grey;
    color: white;
    background-color: grey;
}
.alignfork{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.alignhand{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* PAGE A LA FRANCAISE */
.Backgroundimg{
    width: 360px;
}
.aligntitre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.cardentrée{
    border: 1px solid black;
}
.cardplats{
    border: 1px solid black ;
}
.carddesserts{
    border: 1px solid black;
}
#order{
    width: 120px;
    height: 80px;
    justify-content: center;
    align-items: center;
}
#AlignMenu{
    border: 1px solid black;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}